
@{
    ViewBag.Title = "Gdpr";
}

<h3>Gdpr敏感信息泄露检查</h3>
<ul>
    <li>姓名</li>
    <span>@ViewData["name"]</span>
    <li>电话</li>
    <span>@ViewData["phone"]</span>
    <li>邮箱</li>
    <span>@ViewData["email"]</span>
    <li>身份证</li>
    <span>@ViewData["idcard"]</span>
    <li>地址</li>
    <span>@ViewData["address"]</span>
</ul>


